{% extends "JangoMailBundle::base.html.twig" %}
{% block cuerpo %}
<h1>Ver un Template</h1>
<br/>
<br/>
    {% include "JangoMailBundle::flashes.html.twig" %}
<form id="prueba_templates" action="{{ path("EmailTemplateBundle_renderTemplate") }}" method="post">
    <ul>
        <label>Vista del Template : ( AcmeDemoBundle:Default:index.html.twig )</label>
        <select class="bundle_template" >
            {% for b in bundles %}
                <option>{{ b }}</option>
            {% endfor %}
        </select> :
        <span id="ajax_select_views"></span>
    </ul>
    <ul>
        <label>Locale :</label>
        <input type="text" class="locale_template span1" value="es" />
    </ul>
    <ul>
        <label>Datos necesarios ( En JSON ) :</label>
        <!--<textarea class="data_template span10"></textarea>-->
        <div id="json_editor" class="span10"></div>
    </ul>
        <div class="clear" style="clear: both" ></div>
        <br class="clear" />
        <input type="submit" value="Ver el Template" />
</form>
<div id="template_ajax" style="border: 1px solid black; width: 950px;max-height: 800px;overflow: scroll"></div>
{% endblock %}
{% block stylesheets  %}
{{ parent() }}
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/emailtemplate/jsoneditor-min.css') }}" />
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('bundles/emailtemplate/jsoneditor-min.js') }}"></script>
<script type="text/javascript">
    var editor = new JSONEditor(document.getElementById("json_editor"));
    $(function(){
        $("#prueba_templates").on('submit',function(event){
            event.preventDefault();
            var json = {
                'view' : $(".bundle_template").val() + ':' +  $(".view_bundle_template").val(),
                'locale' : $(".locale_template").val(),
                'data' : JSON.stringify(editor.get())
            };
            $.ajax({
                'url' : $(this).attr('action'),
                'data': json,
                'async': false,
                'type': 'post',
                'success':function(res){
                    $("#template_ajax").html(res);
                },
                'error':function(res){
                    $("#template_ajax").html(res.responseText);               
                }    
            })
        })
        $(".bundle_template").on("change",function(){
            $.ajax({
                'url' : '{{ path('EmailTemplateBundle_getFiles') }}',
                'data': { bundle : $(this).val() },
                'async': false,
                'type': 'post',
                'success':function(res){
                    $("#ajax_select_views").html(res);
                },
                'error':function(res){
                    $("#template_ajax").html(res.responseText);               
                }    
            })
        })
        $("#ajax_select_views").on("change",'.view_bundle_template',function(){
            var view = $(".bundle_template").val() + ':' +  $(".view_bundle_template").val()
            $.getJSON('{{ path("EmailTemplateBundle_loadjson",{ view : '' }) }}/' + view,function(json){
                console.log(json);
                editor.set(json)            
            })
        })
    });
    </script>
{% endblock %}